[submodule "dotfiles/.zsh/zsh-autosuggestions"]
	path = dotfiles/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dotfiles/.zsh/zsh-completions"]
	path = dotfiles/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dotfiles/.config/alacritty/scheme"]
	path = dotfiles/.config/alacritty/scheme
	url = https://github.com/alex-huff/alacritty-color-scheme.git
	branch = feat/use-toml-config
[submodule "modules/noise-suppression/noise-suppression-for-voice"]
	path = modules/noise-suppression/noise-suppression-for-voice
	url = https://github.com/werman/noise-suppression-for-voice
