[Desktop Entry]
Name=WebCord Hush
Comment=A Discord and SpaceBar Electron-based client implemented without Discord API
GenericName=Internet Messenger
Exec=sh -c "PULSE_SINK=hush webcord"
Icon=webcord
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;

