:root {
        --Chat-Font-Used: 'ComicCode Nerd Font', normal ;
        --Chat-Font-Size: 15.5px;
}

:not([class="hljs"]):not(code){
	font-family: var(--Chat-Font-Used)!important;
}

.markup:not(code) {
	font-size: var(--Chat-Font-Size)!important;
}

.compact-2Nkcau .timestamp-p1Df1m, .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    text-align: right;
    font-size: 0.626rem;
    line-height: 1.375rem;
    margin-right: 0.25rem;
    color: var(--text-muted);
    text-indent: 0;
}