*{
    all: unset;
}
.group {
    background-color: #fbf1c7;
    border: 3px solid #282828;
}
.champion-icon, .knob-label, .slider {
    margin: 10px;
}
.knob-label, .gold-stats-label {
    color: #282828;
    font-weight: normal;
    font-family: 'Victor Mono';
}
.knob-label {
    font-size: 16px;
}
.gold-stats-label {
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.slider {
    min-width: 200px;
}
scale trough highlight {
    background-color: #7c6f64;
}
.knob-1 trough highlight {
    background-color: #7c6f64;
}
.knob-2 trough highlight {
    background-color: #7c6f64;
}
.knob-3 trough highlight {
    background-color: #7c6f64;
}
.knob-4 trough highlight {
    background-color: #7c6f64;
}
.knob-5 trough highlight {
    background-color: #7c6f64;
}
.knob-6 trough highlight {
    background-color: #7c6f64;
}
.knob-7 trough highlight {
    background-color: #7c6f64;
}
.knob-8 trough highlight {
    background-color: #7c6f64;
}
scale trough {
    background-color: #d5c4a1;
    min-width: 40px;
    min-height: 35px;
}
.gold-ratio trough highlight {
    background-color: #458588;
}
.gold-ratio trough {
    background-color: #cc241d;
}
